Repository airshipit/maas: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-maas-docker-build-gate, airship-maas-docker-publish

Path conditions:
  airship-maas-docker-build-gate: any of: ^images/.*
  airship-maas-docker-publish: unless all of: ^images/.*

Update HTK stable commit to 0.2.19
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Update helm installation script
  tools/helm_install.sh
Due: airship-maas-docker-publish

Cleanup Makefile, allow cache use, and allow extra args
  Makefile
Due: airship-maas-docker-publish

Update MAAS controller version to 2.8.7-8610-g.4a04daa43-0ubuntu1~18.04.1
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Helm 3: Fix Job labels
  charts/maas/templates/job-bootstrap-admin-user.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/job-db-sync.yaml
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Add ca-certificates to images
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Fix: Update maas controller version to 2.8.7-8611-g.f2514168f-0ubuntu1~18.04.1
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Update chart to use stable Kubernetes APIs
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/ingress-region.yaml
  charts/maas/templates/job-export-api-key.yaml
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Control bind9 and nginx resource usage
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/etc/_bind9.tpl
  charts/maas/templates/etc/_nginx.conf.tpl
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Switch PVCs to use storageClassName
  Makefile
  charts/deps/.gitkeep
  charts/maas/Chart.yaml
  charts/maas/requirements.yaml
  charts/maas/templates/statefulset-maas-syslog.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Add DEBIAN_FRONTEND noninteractive env var
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate

MAAS region & rack controller upgrade v3.0.0
  charts/maas/Chart.yaml
  charts/maas/templates/bin/_maas-test.sh.tpl
  images/maas-rack-controller-focal/3.0_ipmi_error.patch
  images/maas-rack-controller-focal/3.0_nic_filter.patch
  images/maas-rack-controller-focal/3.0_redfish_retries.patch
  images/maas-rack-controller-focal/3.0_secure_headers.patch
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller-focal/README.md
  images/maas-rack-controller-focal/scripts/journalctl-to-tty.service
  images/maas-rack-controller-focal/scripts/register-rack-controller.service
  images/maas-region-controller-focal/3.0_bios_grub_partition.patch
  images/maas-region-controller-focal/3.0_configure_ipmi_user.patch
  images/maas-region-controller-focal/3.0_kernel_package.patch
  images/maas-region-controller-focal/3.0_partitiontable_does_not_exist.patch
  images/maas-region-controller-focal/3.0_proxy_acl.patch
  images/maas-region-controller-focal/3.0_regex_tags.patch
  images/maas-region-controller-focal/3.0_region_secret_rotate.patch
  images/maas-region-controller-focal/3.0_route.patch
  images/maas-region-controller-focal/3.0_secure_headers.patch
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller-focal/README.md
  images/maas-region-controller-focal/journalctl-to-tty.service
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

add commissioning script
  charts/maas/Chart.yaml
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-docker-publish

Disable ipv6 for bind9 named service
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/etc/_bind9.tpl
  charts/maas/templates/etc/_region-dns-config.tpl
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  images/maas-rack-controller-focal/3.0_allow_query.patch
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller/2.8_allow_query.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller-focal/3.0_allow_query.patch
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller/2.8_allow_query.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Parametrise readiness probe
  charts/maas/Chart.yaml
  charts/maas/templates/_job-readiness.tpl
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Add option to mount host path for cgroups
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Fixing name for maas-export-api-key job
  charts/maas/templates/job-export-api-key.yaml
Due: airship-maas-docker-publish

Update helm toolkit reference
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Change pathtype to prefix
  charts/maas/templates/ingress-region.yaml
Due: airship-maas-docker-publish

Update MAAS to 3.0.2
  images/maas-rack-controller-focal/Dockerfile
  images/maas-region-controller-focal/Dockerfile
Due: airship-maas-docker-build-gate

Revert recursion/cache back to "trusted"
  images/maas-rack-controller-focal/3.0_allow_query.patch
  images/maas-rack-controller-focal/3.0_transfer_trusted_only.patch
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller/2.8_allow_query.patch
  images/maas-rack-controller/2.8_transfer_trusted_only.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller-focal/3.0_allow_query.patch
  images/maas-region-controller-focal/3.0_transfer_trusted_only.patch
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller/2.8_allow_query.patch
  images/maas-region-controller/2.8_transfer_trusted_only.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Preparation for osh-infra merger
  .gitignore
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Set stable HTK_COMMIT value
  .gitignore
  .zuul.yaml
  tools/helm_install.sh
Due: airship-maas-docker-publish

Add MAAS deployment gate
  .zuul.yaml
  tools/deployment/002-build-charts.sh
  tools/deployment/003-prepare-k8s.sh
  tools/deployment/004-make-images.sh
  tools/deployment/sleep.sh
  tools/gate/playbooks/airship-run-scripts.yaml
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/mount-volumes.yaml
  tools/gate/playbooks/osh-infra-collect-logs.yaml
  tools/gate/playbooks/prepare-hosts.yaml
  tools/maas/100-cert-manager.sh
  tools/maas/110-build-images.sh
  tools/maas/115-ceph.sh
  tools/maas/120-postgresql.sh
  tools/maas/121-maas.sh
Due: airship-maas-docker-publish

Images updates for CVE
  .zuul.yaml
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/sstream-cache-jammy/Dockerfile
  tools/helm_install.sh
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Maas Integration Tests Update
  .zuul.yaml
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/files/docker-systemd.conf
  tools/gate/playbooks/osh-infra-collect-logs.yaml
  tools/gate/playbooks/prepare-hosts.yaml
  tools/gate/playbooks/run-integration-tests.yaml
  tools/helm_install.sh
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Remove apparmor annotations
  charts/maas/values.yaml
  tools/maas/120-postgresql.sh
  tools/maas/121-maas.sh
Due: airship-maas-docker-publish

Maas images build and publish updates
  .zuul.yaml
  Makefile
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/sstream-cache-focal/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Publish images for Ubuntu Jammy
  .zuul.yaml
Due: airship-maas-docker-publish

Airskiff based maas deployment job
  .zuul.yaml
  Makefile
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/sstream-cache-focal/Dockerfile
  tools/gate/playbooks/airship-run-scripts.yaml
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/run-integration-tests.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Maas 3.5 upgrade fixes
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/statefulset-rack.yaml
Due: airship-maas-docker-publish

Pin MAAS 3.5 versions in Dockerfiles
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
Due: airship-maas-docker-build-gate

MAAS 3.6 images based on Ubuntu 24.04 Noble
  .zuul.yaml
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-rack-controller-noble/3.6_ipmi_error.patch
  images/maas-rack-controller-noble/3.6_nic_filter.patch
  images/maas-rack-controller-noble/3.6_redfish_retries.patch
  images/maas-rack-controller-noble/3.6_secure_headers.patch
  images/maas-rack-controller-noble/3.6_transfer_trusted_only.patch
  images/maas-rack-controller-noble/Dockerfile
  images/maas-rack-controller-noble/README.md
  images/maas-rack-controller-noble/scripts/journalctl-to-tty.service
  images/maas-rack-controller-noble/scripts/maas-http-watcher.path
  images/maas-rack-controller-noble/scripts/maas-http-watcher.service
  images/maas-rack-controller-noble/scripts/override.chrony.conf
  images/maas-rack-controller-noble/scripts/register-rack-controller.service
  images/maas-region-controller-jammy/Dockerfile
  images/maas-region-controller-noble/3.6_configure_ipmi_user.patch
  images/maas-region-controller-noble/3.6_kernel_package.patch
  images/maas-region-controller-noble/3.6_partitiontable_does_not_exist.patch
  images/maas-region-controller-noble/3.6_proxy_acl.patch
  images/maas-region-controller-noble/3.6_regex_tags.patch
  images/maas-region-controller-noble/3.6_route.patch
  images/maas-region-controller-noble/3.6_secure_headers.patch
  images/maas-region-controller-noble/3.6_transfer_trusted_only.patch
  images/maas-region-controller-noble/Dockerfile
  images/maas-region-controller-noble/README.md
  images/maas-region-controller-noble/journalctl-to-tty.service
  images/maas-region-controller-noble/override.chrony.conf
  images/maas-region-controller/Dockerfile
  images/sstream-cache-noble/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Nominal update to activate Noble Post gates
  images/maas-rack-controller-jammy/README.md
  images/maas-rack-controller-noble/README.md
  images/maas-region-controller-focal/README.md
  images/maas-region-controller-jammy/README.md
  images/maas-region-controller-noble/README.md
Due: airship-maas-docker-build-gate

Fix MAAS image publish playbook
  .zuul.yaml
  charts/maas/values.yaml
  images/maas-rack-controller-focal/README.md
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/lint-yaml.yaml
  tools/gate/playbooks/vars.yaml
  tools/gate/playbooks/yamllint-config.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Fix ingress_disable_gui handling for region_api
  .zuul.yaml
  charts/maas/templates/ingress-region.yaml
  charts/maas/values.yaml
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-noble/Dockerfile
  images/maas-region-controller-noble/override.chrony.conf
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

MAAS 3.6 chart updates and chronyd.pid fix
  charts/maas/Chart.yaml
  charts/maas/templates/service-region.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-rack-controller-jammy/scripts/override.chrony.conf
  images/maas-rack-controller-noble/Dockerfile
  images/maas-rack-controller-noble/scripts/override.chrony.conf
  images/maas-region-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/override.chrony.conf
  images/maas-region-controller-noble/Dockerfile
  images/maas-region-controller-noble/override.chrony.conf
Due: airship-maas-docker-build-gate, airship-maas-docker-publish
