Repository airshipit/maas: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-maas-docker-build-gate, airship-maas-docker-publish

airship-maas-docker-build-gate:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-maas-docker-publish:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node
  secrets:
  - airship_maas_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

Support rotation for maas region secret
  images/maas-region-controller/2.3_region_secret_rotate.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

MAAS chart fixes: ingress apiversion, serviceNames
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/ingress-region.yaml
  charts/maas/templates/statefulset-maas-syslog.yaml
Due: airship-maas-docker-publish

MAAS chart: reduce syslog startup spam
  charts/maas/templates/bin/_start-syslog.sh.tpl
Due: airship-maas-docker-publish

maas-rack image: improve IPMI error handling
  images/maas-rack-controller/2.3_ipmi_error.patch
  images/maas-rack-controller/Dockerfile
Due: airship-maas-docker-build-gate

Chart uplift: ingress-nginx-controller 0.26.1
  charts/maas/templates/bin/_maas-ingress.sh.tpl
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Added YAML file linting to maas
  .zuul.yaml
  tools/gate/install-yaml-lint.sh
  tools/gate/lint-yaml.sh
  tools/gate/playbooks/lint-yaml.yaml
  tools/gate/playbooks/yamllint-config.yaml
Due: airship-maas-docker-publish

Add log_level attribute in the Chart to allow overwrite of default
  charts/maas/templates/etc/_rsyslog.conf.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Robust maas-rack readiness probe
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  charts/maas/templates/statefulset-rack.yaml
Due: airship-maas-docker-publish

Disable avahi-daemon
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Add ability to configure system account password
  charts/maas/templates/etc/_curtin_userdata.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Enable Docker default AppArmor profile to maas
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/job-bootstrap-admin-user.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/job-db-sync.yaml
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-maas-syslog.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

maas-region patch: PartitionTable does not exist
  images/maas-region-controller/2.3_partitiontable_does_not_exist.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

MAAS chart: configure extra MAAS settings
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Enabling Apparmor for maas test containers
  charts/maas/templates/tests/test-maas-init.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

maas-syslog fix: eliminate duplicate messages
  charts/maas/templates/etc/_rsyslog.conf.tpl
Due: airship-maas-docker-publish

Eliminate sudo and pam_unix(sudo:session) log spam
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Disable creation of swap file
  charts/maas/templates/etc/_curtin_userdata.tpl
Due: airship-maas-docker-publish

Enhance MAAS ntpd stub
  charts/maas/templates/bin/_ntpd.sh.tpl
Due: airship-maas-docker-publish

maas-region: option to always use GPT
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Respect USE_PROXY=true for image builds
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate

Fix image build checks missing setuptools
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-publish

Fix rendering of obscure MAAS file drivers.yaml
  charts/maas/templates/etc/_drivers.yaml.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Allow additional late_commands in curtin userdata
  charts/maas/templates/etc/_curtin_userdata.tpl
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Enable Docker default AppArmor profile to maas
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Implement helm-toolkit snippet to maas pods/containers
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/job-bootstrap-admin-user.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/job-db-sync.yaml
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-maas-syslog.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/templates/tests/test-maas-init.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

[FIX] override security context capabilities in values.yaml
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Update HTK stable commit
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Fix: updating maas-syslog to readOnly-fs false
  charts/maas/values.yaml
Due: airship-maas-docker-publish

override security context capabilities to values.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Change helm-toolkit dependency version to ">= 0.1.0"
  charts/maas/requirements.yaml
Due: airship-maas-docker-publish

Ignore upstream chart repos when installing Helm
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Use HostToContainer mountPropagation
  charts/maas/Chart.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
Due: airship-maas-docker-publish

Allow additional preseed overrides
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/etc/_commissioning.tpl
  charts/maas/templates/etc/_curtin.tpl
  charts/maas/templates/etc/_enlist.tpl
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-docker-publish

Add "labels" to MAAS ingress & ingress-errors deployments
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
Due: airship-maas-docker-publish

Fix Docker image build jobs
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-publish

Deploy MAAS 2.8 on Ubuntu bionic
  .zuul.yaml
  Makefile
  README.md
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/etc/_enlist.tpl
  charts/maas/templates/job-import.yaml
  charts/maas/values.yaml
  images/maas-rack-controller/2.3_hostheader.patch
  images/maas-rack-controller/2.3_ipmi_error.patch
  images/maas-rack-controller/2.3_mac_address.patch
  images/maas-rack-controller/2.3_nic_filter.patch
  images/maas-rack-controller/2.3_secure_headers.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/2.3_bios_grub_partition.patch
  images/maas-region-controller/2.3_bios_grub_preseed.patch
  images/maas-region-controller/2.3_configure_ipmi_user.patch
  images/maas-region-controller/2.3_kernel_package.patch
  images/maas-region-controller/2.3_maas_enlist.patch
  images/maas-region-controller/2.3_mac_address.patch
  images/maas-region-controller/2.3_partitiontable_does_not_exist.patch
  images/maas-region-controller/2.3_region_secret_rotate.patch
  images/maas-region-controller/2.3_route.patch
  images/maas-region-controller/2.3_secure_headers.patch
  images/maas-region-controller/2.8_maas_ipmi_autodetect_tool.patch
  images/maas-region-controller/Dockerfile
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Clean up names of patch files
  images/maas-rack-controller/2.8_ipmi_error.patch
  images/maas-rack-controller/2.8_nic_filter.patch
  images/maas-rack-controller/2.8_secure_headers.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/2.8_bios_grub_partition.patch
  images/maas-region-controller/2.8_configure_ipmi_user.patch
  images/maas-region-controller/2.8_kernel_package.patch
  images/maas-region-controller/2.8_partitiontable_does_not_exist.patch
  images/maas-region-controller/2.8_proxy_acl.patch
  images/maas-region-controller/2.8_region_secret_rotate.patch
  images/maas-region-controller/2.8_route.patch
  images/maas-region-controller/2.8_secure_headers.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Adjust Redfish retry interval
  images/maas-rack-controller/2.8_redfish_retries.patch
  images/maas-rack-controller/Dockerfile
Due: airship-maas-docker-build-gate

Path conditions:
  airship-maas-docker-build-gate: any of: ^images/.*
  airship-maas-docker-publish: unless all of: ^images/.*
